.skills__left {
    justify-content: start;
    display: flex;
    flex-wrap: wrap;
}

.skills ul {
    margin: 10px 15px;
}

.skills__title {
    font-weight: 600;
    color: var(--luis-color-pink);
}