.about {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.aboutLeft {
    margin: 30px 30px;
    max-width: 550px;
}

.about__img {
    border-radius: 20px;
}

.about__meet {
    font-weight: 600;
    color: var(--luis-color-pink);
}