:root {
  --luis-color-blue: #aaadfa;
  --luis-color-pink: #b783df;
  --luis-color-blue-black: #010F2A;
  /* Gradinets */
  --luis-title-gradient: linear-gradient(90deg, #b584df 3.07%, #5c90f6 95.93%);
  --luis-title-gradient2: linear-gradient(
    90deg,
    #b584df 0%,
    #b584df 44.87%,
    #b584df 97.13%
    /* Margins */
  );
  --luis-margin: 150px;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--luis-color-blue);
  font-family: "Poopins";
  background: radial-gradient(
    100% 400% at 0% 100%,
    #011337 0%,
    #01091a 49.32%,
    #00050d 100%
  );
}

h1 {
  line-height: 60px;
  padding: 10px;
  font-size: 60px;
  background: var(--luis-title-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--luis-color-pink);
}

a {
  text-decoration: none;
}

h2 {
  font-size: 45px;
  line-height: 60px;
  background: var(--luis-title-gradient2);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--luis-color-pink);
}

h3 {
  font-size: 23px;
  line-height: 30px;
  margin-bottom: 10px;
  font-weight: 600;
}

p,
a {
  font-size: 18px;
}


input:focus-visible {
  outline: none;
}
