:root {
  --luis-color-blue: #aaadfa;
  --luis-color-pink: #ee9ed2;
  /* Gradinets */
  --luis-title-gradient: linear-gradient(
    90.21deg,
    #ba7ed0 0.2%,
    #ee9ed2 32.74%,
    #aaadfa 63.36%,
    #fbcea5 80.84%
  );
  --luis-title-gradient2: linear-gradient(
    90deg,
    #bf81d0 0%,
    #f2a1ce 24.87%,
    #fbcea5 97.13%
  );
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--luis-color-blue);
  font-family: "Poopins";
  background: radial-gradient(
    100% 400% at 0% 100%,
    #011337 0%,
    #01091a 49.32%,
    #00050d 100%
  );
}

a {
  text-decoration: none;
}

h2 {
  font-size: 50px;
  background: var(--luis-title-gradient2);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

p,
a {
  font-size: 20px;
}
