.header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 0 auto;
    max-width: 700px;
    text-align: center;
}

.headerWords {
    margin: 10px 0;
}

.header__title {
    line-height: 70px;
    font-size: 70px;
    background: var( --luis-title-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var( --luis-color-pink);
}

.headerSocials {
    margin-top: 35px;
}

.headerSocials a {
    color: var( --luis-color-pink);
    margin: 0 15px;
}

