.header {
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin:  200px auto;
    max-width: 700px;
    text-align: center;
}

.headerWords {
    margin: 10px 0;
}

.header__title {
    line-height: 70px;
    font-size: 70px;
    background: var( --luis-title-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var( --luis-color-pink);
}

.headerSocials {
    margin-top: 35px;
}

.headerSocials  a {
    color: var( --luis-color-pink);
    margin: 0 15px;
}


.headerSocials a {
    position: relative;
    text-decoration: none;
    font-weight: 600;
  }
  
  .headerSocials a::before,
  .headerSocials a::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .headerSocials a::after {
    background: var(--luis-color-pink);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-out;
  }
  
  .headerSocials a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
  