.ProjectsCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects_card {
  padding: 20px;
  margin: 20px 20px;
  height: auto;
  width: auto;
  background: #010f2a;
  box-shadow: 0px 9px 43px 7px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.projects_card__container {
  display: flex;
  flex-wrap: wrap;
}

.projects_card__cube {
  margin: 15px;
  width: 100%;
  max-width: 300px;
  height: auto;
}

.about__cube {
  border-radius: 20px;
}

.projects_card__description {
  margin: 15px;
  max-width: 480px;
}

.projects_card_code {
  margin-top: 20px;
}

.projects_card__description a {
  font-weight: 600;
  color: var(--luis-color-pink);
  margin-right: 25px;
}
